@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {   /* cores utilizadas no projeto */
    --cor0: #87E081;
    --cor1: #EDE8CC;
    --cor2: white;
    --cor3: #D6C9C3;
    --cor4: #EDCCED;
    --cor5: #7E8EE6;
    --cor6: rgb(251, 249, 132);

    /* fontes utilizadas no projeto*/
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-titulo: 'Roboto', sans-serif;
    --fonte-header: 'Cinzel Decorative', cursive;
    --fonte-citacao: 'Roboto Slab', serif;
}

header {
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor2));
}

h1 {
    font-family: var(--fonte-header);
    color: black;
    text-align: center;
    padding: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.445);
}

main {
    max-width: 640px;
    background-color: var(--cor2);
    font-family: var(--fonte-padrao);
    margin: auto;
}

article {
    margin: 0px;
}

h2 {
    background-color: var(--cor4);
    font-family: var(--fonte-titulo);
    color: black;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.37);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.267);
}
p {
    padding: 10px;
    text-align: justify;
    text-indent: 20px;
    background-color: var(--cor1);
    border-radius: 5px;
}

p.volta {
    text-align: right;
    font-weight: bold;
}

p.citacao {
    font-family: var(--fonte-citacao);
    font-style: italic;
}

p > a {
    text-decoration: none;
    color: red;
    background-color: var(--cor1);
}

p > a:hover {
    text-decoration: underline;
}

p > a.info::after {
    content: '\00A0\1F517';
}

div.video {
    padding: 10px;
    padding-bottom: 1%; /* configurações para tornar o vídeo responsivo*/
    position: relative; /* configurações para tornar o vídeo responsivo*/
}

ul.resumo {
    list-style-position: inside;
    list-style-type: '\2714\00A0\00A0';
    padding: 10px;
    font-weight: bold;
}

ul.c4 {
    list-style-position: inside;
    columns: 4;
    color: var(--cor5);
}

footer > p {
    font-family: var(--fonte-padrao);
    font-size: 0.8em;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 0px;
}

a#rodape {
    background-color: black;
    color: white;
    text-decoration: none;
}

a#rodape:hover {
    text-decoration: underline;
}

table {
    background-color: blueviolet;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100vw;
    margin: auto;
}

caption {
    font-family: var(--fonte-header);
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor2));
    font-size: 1.5em;
    color: black;
    text-align: center;
    padding: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.445);
}

th {
    background-color: var(--cor4);
    color: black;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.205);
    padding: 10px;
}

thead > tr > th {
    position: sticky; /* para fixar o cabeçalho */
    top: -1px;
}

td a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.5s;
}

td a:hover {
    padding: 5px;
    background-color: var(--cor3);
    color: black
}

td {
    
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.205);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

td.centralizado {
    text-align: center;
}